<div class="sub-header-box">
  <div class="wrap">
    <div class="line-item editable-title-wrap">
      <div class="left-item">
        <div class="select-btn"
          (click)="selectReasonCategory()">
          <h1>{{reasonCodesName}}</h1>
          <i class="material-icons">arrow_drop_down</i>
        </div>
      </div>
      <div class="right-item middle">
        <div class="el">
          <button mat-raised-button
            routerLink="/settings/reason-codes"
            color="primary">Save</button>
        </div>
        <div class="el settings-placeholder"></div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <section class="main-content">
    <div class="row top-level">
      <div class="col-6">
        <fieldset class="form-section">
          <div class="form-title">
            <h3>Descriptions</h3>
            <div class="right-item">
              <a mat-icon-button
                (click)="addDescriptionDialog()">
                <i class="material-icons">add_circle</i>
              </a>
            </div>
          </div>
          <ul class="checking-list auto-height"
            [perfectScrollbar]>
            <li class="line-item"
              *ngFor="let item of descriptions"
              [ngClass]="item.active?'active':''">
              <div class="left-item"
                (click)="acviveFunction(item)">
                <span class="data">{{item.value}}</span>
              </div>
              <div class="right-item">
                <button mat-icon-button
                  class="standard"
                  (click)="removeItem(descriptions, item);">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="col-6">
        <fieldset class="form-section">
          <div class="form-title">
            <h3>Reason Codes</h3>
            <div class="right-item">
              <button class="addButton"
                disabled="{{!showCodes}}"
                mat-icon-button
                (click)="reasonCodesDialog()">
                <i class="material-icons">add_circle</i>
              </button>
            </div>
          </div>
          <ul *ngIf="showCodes"
            class="checking-list card-codes auto-height"
            [perfectScrollbar]>
            <li class="line-item"
              *ngFor="let item of reasonCodes"
              [hidden]="!item.value">
              <div class="left-item no-link">
                <span class="data">{{item.name}}</span>
                <em class="value">{{item.value}}</em>
              </div>
              <div class="right-item">
                <button mat-icon-button
                  class="standard"
                  (click)="removeReasonCode(item);">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </section>
</div>