@import '../../../cf-components/styles/mixins';
@import '../../../scss/theme-var';
.select-menu {
  min-width: 96px;
  > span {
    &.clickable {
      @include values();
      display: block;
      padding-right: 32px;
      position: relative;
      line-height: 38px;
      height: 38px;
      .mat-select-underline {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $borderColor;
        position: absolute;
        left: 0;
        bottom: 0;
        &:before {
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $borderColor;
          transform-origin: 50%;
          transform: scaleX(0.5);
          transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
          visibility: hidden;
        }
      }
      i {
        &.material-icons {
          position: absolute;
          top: 7px;
          right: 4px;
          color: $iconColor;
        }
      }
      &:hover {
        i {
          &.material-icons {
            position: absolute;
            top: 7px;
            right: 4px;
            color: $formHover;
          }
        }
        .mat-select-underline {
          background-color: transparent;
          &:before {
            background-color: $formHover;
            visibility: visible;
            transform: scaleX(1);
            height: 1px;
            transition: transform 150ms linear,
              background-color 0s cubic-bezier(0.55, 0, 0.55, 0.2);
          }
        }
      }
    }
  }
}
