.mat-drawer-container {
  transform: none !important;
  .mat-drawer {
    position: fixed;
    z-index: 13;
  }
  .mat-drawer-backdrop {
    z-index: 12;
  }
}
.mat-drawer-content {
  transform: none !important;
  overflow: visible !important;
}
.right-sidenav {
  background: #fff;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -360px;
  nav {
    width: 100%;
    ul {
      margin: 0;
      padding: 16px 0;
      list-style: none;
      li {
        padding: 0;
        .mat-button {
          width: 100%;
          text-align: left;
          padding: 6px 16px;
          font-size: 15px;
          &.active {
            font-weight: 600;
          }
          &:hover {
            background: rgba(0, 0, 0, 0.04);
            .mat-button-focus-overlay {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
.icon-nav {
  i {
    &.icon {
      margin-right: 8px;
    }
  }
}
