@import '../mixins';

.mat-tab-label {
  @include button();
}
.mat-tab-nav-bar {
  &.light-nav {
    .mat-ink-bar {
      background-color: #fff;
      height: 4px;
    }
  }
}
.tab-content {
  padding: 24px 0;
}
.mat-tab-link {
  @include button();
  opacity: 1;
  &.mat-tab-label-active {
    color: $primary;
    opacity: 1;
  }
  &.light {
    color: rgba(255, 255, 255, 0.7);
    .mat-ripple-element {
      background-color: rgba(255, 255, 255, 0.12);
    }
    &:focus {
      background-color: transparent !important;
      color: #fff;
    }
    &.mat-tab-label-active {
      color: #fff;
    }
  }
}
.tab-wrap {
  .mat-tab-body {
    .mat-tab-body-content {
      &.ng-animating {
        transform: translate3d(0%, 0px, 0px) !important;
      }
    }
  }
}
