<table class="cf-calendar-table">
  <thead class="cf-calendar-table-header">
    <tr>
      <th *ngFor="let day of _weekdays"
        [attr.aria-label]="day.long">{{day.narrow}}</th>
    </tr>
  </thead>
  <tbody [@slideCalendar]="_calendarState"
    (@slideCalendar.done)="_calendarStateDone()"
    app-calendar-body
    role="grid"
    [rows]="_weeks"
    [todayValue]="_todayDate"
    [selectedValue]="_selectedDate"
    [activeCell]="_util.getDate(activeDate) - 1"
    (selectedValueChange)="_dateSelected($event)"></tbody>
</table>