<div class="dialog-content date-range-dialog">
  <header>
    <h3>Customised date range</h3>
  </header>
  <section appNoScroller
    [perfectScrollbar]>
    <div class="row">
      <div class="col-6">
        <app-datetime-picker [icons]="false"
          [labelPicker]="'Start Date'"
          (change)="backStartDate($event)"></app-datetime-picker>
      </div>
      <div class="col-6">
        <app-datetime-picker [icons]="false"
          [labelPicker]="'End Date'"
          (change)="backEndDate($event)"></app-datetime-picker>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          color="primary"
          class="cancel-dialog"
          (click)="closeDialog();">Cancel</button>
        <button mat-button
          color="primary"
          [disabled]="disableSave"
          (click)="saveFunction();">Go</button>
      </div>
    </div>
  </footer>
</div>