<div class="dialog-content not-fought-dialog">
  <header>
    <h3>Not-Fought Reason</h3>
  </header>
  <section appNoScroller
    [perfectScrollbar]>
    <mat-form-field class="full-width">
      <mat-select placeholder="Reason"
        [(ngModel)]="reason.value">
        <div class="options-wrap"
          appNoScroller
          [perfectScrollbar]>
          <mat-option *ngFor="let item of reason.options"
            [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          color="primary"
          class="cancel-dialog"
          (click)="closeDialog();">Cancel</button>
        <button mat-button
          color="primary"
          (click)="saveFunction();">Submit</button>
      </div>
    </div>
  </footer>
</div>