<div class="sub-header-box with-menu">
  <div class="wrap">
    <div class="line-item editable-title-wrap">
      <div class="left-item">
        <app-editable-title [icon]="'store'"
          [value]="'Filter Forge Inc.'"
          [light]="true"
          [readonly]="true"
          (changeValue)="titleVal($event)"></app-editable-title>
      </div>
      <div class="right-item middle">
        <div class="el">
          <app-status [disabledBtn]="!activateButton"
            [active]="activePage"
            (inactive)="inactive($event)"></app-status>
        </div>
        <div class="el settings-placeholder">
          <app-dd-menu [options]="pageSettings"
            [light]="true"
            (select)="selectPageSettings($event)"></app-dd-menu>
        </div>
      </div>
    </div>
    <app-sub-header [light]="true"
      [innerMenuItems]="merchantInnerMenu"></app-sub-header>
  </div>
</div>
<router-outlet></router-outlet>