@import '../../styles/mixins';

.show-pass {
  position: relative;
  width: 100%;
  .mat-icon-button {
    position: absolute;
    right: 0;
    top: 10px;
    .material-icons {
      font-size: 20px;
      color: $iconColor;
    }
  }
}
