<div class="content">
  <section class="main-content">
    <div class="row top-level">
      <div class="col-6">
        <!-- Primary 1 -->
        <fieldset class="form-section">
          <div class="form-title">
            <h3>Primary
              <span *ngIf="billingData.splitMethods">1</span>
              <i *ngIf="billingData.primary1Payment.verify"
                class="material-icons verify-icon">check_circle</i>
            </h3>
            <div class="right-item">
              <div class="el"
                *ngIf="billingData.primary1Payment.verifyCancel">
                <button mat-button
                  color="primary"
                  (click)="billingData.primary1Payment.verify = true; billingData.primary1Payment.verifyCancel = false;">Cancel</button>
              </div>
              <div class="el"
                *ngIf="!billingData.primary1Payment.verify">
                <button mat-raised-button
                  color="primary"
                  (click)="billingData.primary1Payment.verify = true; billingData.primary1Payment.verifyCancel = false;">Verify</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-s-9">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <mat-select placeholder="Payment Method"
                  [(ngModel)]="billingData.primary1Payment.paymentMethod"
                  [disabled]="readonly"
                  (change)="reVerify(billingData.primary1Payment)">
                  <div class="options-wrap"
                    appNoScroller
                    [perfectScrollbar]>
                    <mat-option *ngFor="let item of billingData.primary1Payment.paymentMethods"
                      [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-3"
              *ngIf="billingData.splitMethods">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Split"
                  [(ngModel)]="billingData.primary1Payment.split"
                  [textMask]="{mask: percentMask, guide: false}"
                  [readonly]="readonly"
                  maxlength="3"
                  (change)="changeSplit(billingData.primary1Payment.split); reVerify(billingData.primary1Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-12">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Name on Card"
                  [(ngModel)]="billingData.primary1Payment.nameOnCard"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.primary1Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-3">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <mat-select placeholder="Type"
                  [(ngModel)]="billingData.primary1Payment.type"
                  [disabled]="readonly"
                  (change)="changeCardP1(billingData.primary1Payment.type); reVerify(billingData.primary1Payment)">
                  <div class="options-wrap"
                    appNoScroller
                    [perfectScrollbar]>
                    <mat-option *ngFor="let item of  cards"
                      [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-9">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Card Number"
                  [textMask]="{mask: cardNumberMask, guide: false}"
                  [(ngModel)]="billingData.primary1Payment.cardNumber"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.primary1Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-3">
              <app-cvv-field [(ngModel)]="billingData.primary1Payment.cvv"
                [readonly]="readonly"
                (change)="reVerify(billingData.primary1Payment)"></app-cvv-field>
            </div>
            <div class="col-s-4">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Expiration Date"
                  [textMask]="{mask: cardDateMask, guide: false}"
                  [(ngModel)]="billingData.primary1Payment.expirationDate"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.primary1Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="payment-address-block">
            <div class="form-title">
              <h4>Billing</h4>
              <div class="left-item">
                <mat-checkbox [ngClass]="readonly? 'readonly': ''"
                  [disabled]="readonly"
                  [(ngModel)]="billingData.primary1Payment.billing"
                  (change)="reVerify(billingData.primary1Payment)">Same as company address</mat-checkbox>
              </div>
            </div>
            <div class="new-addres"
              *ngIf="!billingData.primary1Payment.billing">
              <div class="row">
                <div class="col-s-12">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      placeholder="Address"
                      [(ngModel)]="billingData.primary1Payment.address"
                      [readonly]="readonly"
                      (change)="reVerify(billingData.primary1Payment)">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-s-3">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <mat-select placeholder="Country"
                      [(ngModel)]="billingData.primary1Payment.country"
                      [disabled]="readonly"
                      (change)="changeCountry(billingData.primary1Payment.country); reVerify(billingData.primary1Payment)">
                      <div class="options-wrap"
                        appNoScroller
                        [perfectScrollbar]>
                        <mat-option *ngFor="let item of countries"
                          [value]="item.value">
                          {{ item.viewValue }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-s-4">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      placeholder="City"
                      [(ngModel)]="billingData.primary1Payment.city"
                      [readonly]="readonly"
                      (change)="reVerify(billingData.primary1Payment)">
                  </mat-form-field>
                </div>
                <div class="col-s-3"
                  *ngIf="!this.countryChanges.stateField">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <mat-select placeholder="{{countryChanges.stateLabel}}"
                      [(ngModel)]="billingData.primary1Payment.state"
                      [disabled]="readonly"
                      (change)="reVerify(billingData.primary1Payment)">
                      <div class="options-wrap"
                        appNoScroller
                        [perfectScrollbar]>
                        <mat-option *ngFor="let item of countryChanges.states"
                          [value]="item.value">
                          {{ item.viewValue }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-s-3"
                  *ngIf="this.countryChanges.stateField">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      [readonly]="readonly"
                      placeholder="{{countryChanges.stateLabel}}"
                      [(ngModel)]="billingData.primary1Payment.state"
                      (change)="reVerify(billingData.primary1Payment)">
                  </mat-form-field>
                </div>
                <div class="col-s-2">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      [(ngModel)]="billingData.primary1Payment.zip"
                      [readonly]="readonly"
                      placeholder="{{countryChanges.zipLabel}}"
                      [textMask]="{mask: countryChanges.zipMask, guide: false}"
                      (change)="reVerify(billingData.primary1Payment)">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-s-12">
              <div class="switch-line">
                <mat-slide-toggle class="left-label"
                  [ngClass]="readonly? 'readonly': ''"
                  [disabled]="readonly"
                  [color]="'primary'"
                  [(ngModel)]="billingData.splitMethods"
                  (change)="splitFunction(billingData.splitMethods)">
                  Split primary payment method
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Primary 2 -->
        <fieldset class="form-section"
          *ngIf="billingData.splitMethods">
          <div class="form-title">
            <h3>Primary 2
              <i *ngIf="billingData.primary2Payment.verify"
                class="material-icons verify-icon">check_circle</i>
            </h3>
            <div class="right-item">
              <div class="el"
                *ngIf="billingData.primary2Payment.verifyCancel">
                <button mat-button
                  color="primary"
                  (click)="billingData.primary2Payment.verify = true; billingData.primary2Payment.verifyCancel = false;">Cancel</button>
              </div>
              <div class="el"
                *ngIf="!billingData.primary2Payment.verify">
                <button mat-raised-button
                  color="primary"
                  (click)="billingData.primary2Payment.verify = true; billingData.primary2Payment.verifyCancel = false;">Verify</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-s-9">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <mat-select placeholder="Payment Method"
                  [(ngModel)]="billingData.primary2Payment.paymentMethod"
                  [disabled]="readonly"
                  (change)="reVerify(billingData.primary2Payment)">
                  <div class="options-wrap"
                    appNoScroller
                    [perfectScrollbar]>
                    <mat-option *ngFor="let item of billingData.primary2Payment.paymentMethods"
                      [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-3">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Split"
                  [(ngModel)]="billingData.primary2Payment.split"
                  [readonly]="true"
                  (change)="reVerify(billingData.primary2Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-12">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Name on Card"
                  [(ngModel)]="billingData.primary2Payment.nameOnCard"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.primary2Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-3">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <mat-select placeholder="Type"
                  [(ngModel)]="billingData.primary2Payment.type"
                  [disabled]="readonly"
                  (change)="changeCardP2(billingData.primary2Payment.type); reVerify(billingData.primary2Payment)">
                  <div class="options-wrap"
                    appNoScroller
                    [perfectScrollbar]>
                    <mat-option *ngFor="let item of cards"
                      [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-9">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Card Number"
                  [textMask]="{mask: cardNumberMask, guide: false}"
                  [(ngModel)]="billingData.primary2Payment.cardNumber"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.primary2Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-3">
              <app-cvv-field [(ngModel)]="billingData.primary2Payment.cvv"
                [readonly]="readonly"
                (change)="reVerify(billingData.primary2Payment)"></app-cvv-field>
            </div>
            <div class="col-s-4">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Expiration Date"
                  [textMask]="{mask: cardDateMask, guide: false}"
                  [(ngModel)]="billingData.primary2Payment.expirationDate"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.primary2Payment)">
              </mat-form-field>
            </div>
          </div>
          <div class="payment-address-block">
            <div class="form-title">
              <h4>Billing</h4>
              <div class="left-item">
                <mat-checkbox [ngClass]="readonly? 'readonly': ''"
                  [disabled]="readonly"
                  [(ngModel)]="billingData.primary2Payment.billing"
                  (change)="reVerify(billingData.primary2Payment)">Same as company address</mat-checkbox>
              </div>
            </div>
            <div class="new-addres"
              *ngIf="!billingData.primary2Payment.billing">
              <div class="row">
                <div class="col-s-12">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      placeholder="Address"
                      [(ngModel)]="billingData.primary2Payment.address"
                      [readonly]="readonly"
                      (change)="reVerify(billingData.primary2Payment)">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-s-3">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <mat-select placeholder="Country"
                      [(ngModel)]="billingData.primary2Payment.country"
                      [disabled]="readonly"
                      (change)="changeCountryP2(billingData.primary2Payment.country); reVerify(billingData.primary2Payment)">
                      <div class="options-wrap"
                        appNoScroller
                        [perfectScrollbar]>
                        <mat-option *ngFor="let item of countries"
                          [value]="item.value">
                          {{ item.viewValue }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-s-4">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      placeholder="City"
                      [(ngModel)]="billingData.primary2Payment.city"
                      [readonly]="readonly"
                      (change)="reVerify(billingData.primary2Payment)">
                  </mat-form-field>
                </div>
                <div class="col-s-3"
                  *ngIf="!this.countryChangesP2.stateField">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <mat-select placeholder="{{countryChangesP2.stateLabel}}"
                      [(ngModel)]="billingData.primary2Payment.state"
                      [disabled]="readonly"
                      (change)="reVerify(billingData.primary2Payment)">
                      <div class="options-wrap"
                        appNoScroller
                        [perfectScrollbar]>
                        <mat-option *ngFor="let item of countryChangesP2.states"
                          [value]="item.value">
                          {{ item.viewValue }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-s-3"
                  *ngIf="this.countryChangesP2.stateField">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      [readonly]="readonly"
                      placeholder="{{countryChangesP2.stateLabel}}"
                      [(ngModel)]="billingData.primary2Payment.state"
                      (change)="reVerify(billingData.primary2Payment)">
                  </mat-form-field>
                </div>
                <div class="col-s-2">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      [(ngModel)]="billingData.primary2Payment.zip"
                      [readonly]="readonly"
                      placeholder="{{countryChangesP2.zipLabel}}"
                      [textMask]="{mask: countryChangesP2.zipMask, guide: false}"
                      (change)="reVerify(billingData.primary2Payment)">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-6">
        <!-- Secondary -->
        <fieldset class="form-section">
          <div class="form-title">
            <h3>Secondary
              <i *ngIf="billingData.secondaryPayment.verify"
                class="material-icons verify-icon">check_circle</i>
            </h3>
            <div class="right-item">
              <div class="el"
                *ngIf="billingData.secondaryPayment.verifyCancel">
                <button mat-button
                  color="primary"
                  (click)="billingData.secondaryPayment.verify = true; billingData.secondaryPayment.verifyCancel = false;">Cancel</button>
              </div>
              <div class="el"
                *ngIf="!billingData.secondaryPayment.verify">
                <button mat-raised-button
                  color="primary"
                  (click)="billingData.secondaryPayment.verify = true; billingData.secondaryPayment.verifyCancel = false;">Verify</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-s-9">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <mat-select placeholder="Payment Method"
                  [(ngModel)]="billingData.secondaryPayment.paymentMethod"
                  [disabled]="readonly"
                  (change)="reVerify(billingData.secondaryPayment)">
                  <div class="options-wrap"
                    appNoScroller
                    [perfectScrollbar]>
                    <mat-option *ngFor="let item of billingData.secondaryPayment.paymentMethods"
                      [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-12">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Name on Card"
                  [(ngModel)]="billingData.secondaryPayment.nameOnCard"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.secondaryPayment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-3">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <mat-select placeholder="Type"
                  [(ngModel)]="billingData.secondaryPayment.type"
                  [disabled]="readonly"
                  (change)="changeCardS(billingData.secondaryPayment.type); reVerify(billingData.secondaryPayment)">
                  <div class="options-wrap"
                    appNoScroller
                    [perfectScrollbar]>
                    <mat-option *ngFor="let item of cards"
                      [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-9">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Card Number"
                  [textMask]="{mask: cardNumberMask, guide: false}"
                  [(ngModel)]="billingData.secondaryPayment.cardNumber"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.secondaryPayment)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-s-3">
              <app-cvv-field [(ngModel)]="billingData.secondaryPayment.cvv"
                [readonly]="readonly"
                (change)="reVerify(billingData.secondaryPayment)"></app-cvv-field>
            </div>
            <div class="col-s-4">
              <mat-form-field class="full-width"
                [ngClass]="readonly? 'readonly': ''">
                <input matInput
                  placeholder="Expiration Date"
                  [textMask]="{mask: cardDateMask, guide: false}"
                  [(ngModel)]="billingData.secondaryPayment.expirationDate"
                  [readonly]="readonly"
                  (change)="reVerify(billingData.secondaryPayment)">
              </mat-form-field>
            </div>
          </div>
          <div class="payment-address-block">
            <div class="form-title">
              <h4>Billing</h4>
              <div class="left-item">
                <mat-checkbox [ngClass]="readonly? 'readonly': ''"
                  [disabled]="readonly"
                  [(ngModel)]="billingData.secondaryPayment.billing"
                  (change)="reVerify(billingData.secondaryPayment)">Same as company address</mat-checkbox>
              </div>
            </div>
            <div class="new-addres"
              *ngIf="!billingData.secondaryPayment.billing">
              <div class="row">
                <div class="col-s-12">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      placeholder="Address"
                      [(ngModel)]="billingData.secondaryPayment.address"
                      [readonly]="readonly"
                      (change)="reVerify(billingData.secondaryPayment)">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-s-3">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <mat-select placeholder="Country"
                      [(ngModel)]="billingData.secondaryPayment.country"
                      [disabled]="readonly"
                      (change)="changeCountryS(billingData.secondaryPayment.country); reVerify(billingData.secondaryPayment)">
                      <div class="options-wrap"
                        appNoScroller
                        [perfectScrollbar]>
                        <mat-option *ngFor="let item of countries"
                          [value]="item.value">
                          {{ item.viewValue }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-s-4">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      placeholder="City"
                      [(ngModel)]="billingData.secondaryPayment.city"
                      [readonly]="readonly"
                      (change)="reVerify(billingData.secondaryPayment)">
                  </mat-form-field>
                </div>
                <div class="col-s-3"
                  *ngIf="!this.countryChangesS.stateField">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <mat-select placeholder="{{countryChangesS.stateLabel}}"
                      [(ngModel)]="billingData.secondaryPayment.state"
                      [disabled]="readonly"
                      (change)="reVerify(billingData.secondaryPayment)">
                      <div class="options-wrap"
                        appNoScroller
                        [perfectScrollbar]>
                        <mat-option *ngFor="let item of countryChangesS.states"
                          [value]="item.value">
                          {{ item.viewValue }}
                        </mat-option>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-s-3"
                  *ngIf="this.countryChangesS.stateField">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      [readonly]="readonly"
                      placeholder="{{countryChangesS.stateLabel}}"
                      [(ngModel)]="billingData.secondaryPayment.state"
                      (change)="reVerify(billingData.secondaryPayment)">
                  </mat-form-field>
                </div>
                <div class="col-s-2">
                  <mat-form-field class="full-width"
                    [ngClass]="readonly? 'readonly': ''">
                    <input matInput
                      [(ngModel)]="billingData.secondaryPayment.zip"
                      [readonly]="readonly"
                      placeholder="{{countryChangesS.zipLabel}}"
                      [textMask]="{mask: countryChangesS.zipMask, guide: false}"
                      (change)="reVerify(billingData.secondaryPayment)">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </section>
</div>