<div class="dialog-content table-dialog">
  <header>
    <h3>Manage Columns</h3>
  </header>
  <div class="dialog-toolbar line-item">
    <div class="left-item">
      <div class="checkbox-line">
        <mat-checkbox [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)">Select all</mat-checkbox>
      </div>
    </div>
  </div>
  <section appNoScroller
    [perfectScrollbar]>
    <div class="ckeck-list-items">
      <div class="checkbox-line"
        *ngFor="let item of array; let ind=index">
        <mat-checkbox [(ngModel)]="item.included"
          (change)="!item.included; checkItem()">{{item.name}}</mat-checkbox>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          color="primary"
          class="cancel-dialog"
          (click)="closeDialog();">Cancel</button>
        <button mat-button
          color="primary"
          (click)="saveFunction();">Save</button>
      </div>
    </div>
  </footer>
</div>